*{
    margin: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    background-color: #061a49;
    height: 100vh;
}

#titel {
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #fa897b;
}

h1{
    font-size: 35px;
}
.untertitel{
    font-size: 21px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
    background-color: #fa897b;
}

.goButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #fa897b;
    color: white;
    margin: 2vh;
    
}