@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen-Regular.woff2') format('woff2'),
         url('./fonts/Silkscreen-Regular.woff') format('woff'),
         url('./fonts/Silkscreen-Regular.ttf') format('truetype');
}

*{
    margin: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    background-color: #97b5fb;
    height: 100vh;
}

#titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    background-color: #fa897b;
}

h1{
    font-size: 35px;
}
.untertitel{
    font-size: 21px;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fa897b;
}

.goButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #fa897b;
    color: white;
    margin: 2vh;
}