*{
    margin: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
}

body {
    margin: 0;
    background-color: #97b5fb;
    height : 100vh;
    height: -webkit-fill-available;
}
#titel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    top: 6vw;
    transform: translateX(-50%);
    color: white;
}

#registration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

#video_goodGirl, .goodGirl_button, #game, #feedback{
    display: none;
}

  @media (max-width: 800px) {
    #numpad {
      width: 50vw;
      gap: 1.5vw;
    }

    #display {
        width: 36vw;
        height: 30px;
        font-size: 4vw;
    }

    .goButton {
        width: 12vw;
        height: 12vw;
        font-size: 6vw;
    }
  
    .button {
      width: 12vw;
      height: 12vw;
      font-size: 6vw;
    }

    h1{
        font-size: 7vw;
    }
    .chances, .rand{
        font-size: 4.1vw;
    }
    #feedback{
        font-size: 4vw;
        width: 100vw;
    }
  }