*{
    margin: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
}

body {
    margin: 0;
    background-color: #97b5fb;
    height : 100vh;
    height: -webkit-fill-available;
}
#titel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    top: 6vw;
    transform: translateX(-50%);
    color: white;
}

label{
    color: white;
    font-size: max(45px, 3vw);
    margin: 10px;
}

#registration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 120px;
    text-align: center;
    padding: 7px;
    border-radius: 50px;
    border-style: none;
    background-color: white;
    color: #97b5fb;
    margin: 10px;
}

#playerName{
    border-style: none;
    background-color: #fa897b;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 5px;
}

#playerName::placeholder {
    color: white;
    font-weight: bold;
  }

#video_goodGirl, .goodGirl_button, #game, #feedback{
    display: none;
}

  @media (max-width: 800px) {
    #numpad {
      width: 50vw;
      gap: 1.5vw;
    }

    #display {
        width: 36vw;
        height: 30px;
        font-size: 4vw;
    }

    .goButton {
        width: 12vw;
        height: 12vw;
        font-size: 6vw;
    }
  
    .button {
      width: 12vw;
      height: 12vw;
      font-size: 6vw;
    }

    h1{
        font-size: 7vw;
    }
    label{
        font-size: 4.1vw;
    }
    #feedback{
        font-size: 4vw;
        width: 100vw;
    }
    #playerName::placeholder {
        font-size: 5vw;
      }
  }