*{
    margin: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
}

body {
    margin: 0;
    background-color: #97b5fb;
    background: url('../img/startBackground.jpg');
    background-size: cover;
    background-position: 100% 14%;
    height : 100vh;
    height: -webkit-fill-available;
}

#foregroundImage {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 0;
    z-index: 100;
}

img{
    width: 100%;
    height: auto;
}

#titel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    top: 6vw;
    transform: translateX(-50%);
    color: white;
}

label{
    color: white;
    font-size: max(45px, 3vw);
    margin: 10px;
}

#registration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

button{
    position: absolute;
    width: 150px;
    text-align: center;
    padding: 7px;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(0, 128, 255, 0);
    color: #97b5fb;
    margin: 20px;
    z-index: 1000;
    bottom: -80px;
}

.backButton{
    position: absolute;
    width: 150px;
    text-align: center;
    padding: 7px;
    border-radius: 50px;
    border-style: none;
    background-color: white;
    color:white;
    margin: 20px;
    bottom: -80px;

}

#playerName{
    border-style: none;
    background-color: white;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    color:#fa897b;
    font-weight: bold;
}

#playerName::placeholder {
    color: #f4c0ba;
    font-weight: bold;
}

#video_goodGirl, .goodGirl_button, #game, #feedback{
    display: none;
}

  @media (max-width: 800px) {

    h1{
        font-size: 7vw;
    }
    label, button{
        font-size: 4.1vw;
    }
    #feedback{
        font-size: 4vw;
        width: 100vw;
    }
    #playerName::placeholder, #playerName{
        font-size: 5vw;
      }
  }