*{
    margin: 0;
}
html{
    height: -webkit-fill-available;
}

body{
    max-height: 100vh;
    margin: 0;
    height: -webkit-fill-available;
}
#choose{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h1{
    font-size: 25pt;
    margin: 2vw;
    padding: 1vw;
    color: rgb(0, 0, 0);
}

.yourChoise{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:40%;
}

#yourChoise{
    font-size: 15pt;
    margin: 10px;
}

#gif{
    width: 150px;
    height: auto;
    border: none;
}

#divas{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

button{
    border:none;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    font-size: 15pt;
    padding: 1vw;
}

.h1:hover{
    font-size: 27pt;
}

button:hover{
    color: rgb(230, 174, 228);
    transform: translateY(-0.5vw);
    cursor: pointer;
    font-size: 17pt;
}



@media (hover: none) {
    .h1:hover{
        font-size: 25pt;
    }
    button:hover{
        color: black;
        transform: translateY(0px);
        cursor:none;
        font-size: 12pt;
    }
    #gif{
        width: 400px;
        height: auto;
        border: none;
    }
    #yourChoise{
        font-size: 15pt;
    }
}