*{
    margin: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
}

body {
    margin: 0;
    background-color: #97b5fb;
    height : 100vh;
    height: -webkit-fill-available;
}

#titel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    color: white;
}

h1{
    font-size: max(50px, 5vw);
}
.untertitel{
    font-size: max(25px, 5vw);
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
}

.guess {
    width: min(130px, 20vw);
    height: min(35px, 10vh);
}

.goButton {
    width: min(80px, 15vw);
    height: min(80px, 15vw);;
    border-radius: 50%;
    border: none;
    background-color: #fa897b;
    color: white;
    margin: 2vh;
    font-size: max(25px, 5vw);
    
}