*{
    margin: 0;
}
html, body {
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
}

body {
    margin: 0;
    background-color: #97b5fb;
    height : 100vh;
    height: -webkit-fill-available;
}

#titel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    top: 3vw;
    transform: translateX(-50%);
    color: white;
}

h1{
    font-size: max(50px, 5vw);
}
.untertitel{
    font-size: max(45px, 3vw);
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vh;
}

.guess {
    width: min(130px, 20vw);
    height: min(35px, 10vh);
}

.goButton {
    width: min(80px, 18vw);
    height: min(80px, 18vw);;
    border-radius: 50%;
    border: none;
    background-color: #fa897b;
    color: white;
    margin: 2vh;
    font-size: max(35px, 2vw);
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}




#display {
    width: 12vw;
    height: 30px;
    margin-bottom: 10px;
    text-align: right;
    border: 1px;
    background-color: #fa897b;
    padding: 1vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh; 
  }

  #numpad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: min(47vw, 220px);
    gap: min(0.5vw, 20px);
  }

  .button {
    width: min(15vw, 60px);
    height: min(15vw, 60px);
    font-size: max(35px, 2vw);
    cursor: pointer;
    border: 1px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color:#97b5fb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }